<div class="m-4 flex items-center justify-center">
    <div class="bg-white w-full h-full border-none rounded-lg shadow-2xl p-8">
        <form>
            <div class="flex gap-4 mb-4">
                <div class="mb-4 mx-2 w-[80%]">
                    <mat-label class='px-4'>Project Name</mat-label>
                    <!-- <label for="firstname" class="block text-gray-700 text-sm font-bold mb-2">First name</label> -->
                    <input type="text" id="projectname" placeholder="Project name" class="border-b w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none">
                    <!-- <input type="text" id="firstname" placeholder="First name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"> -->
                </div>
                <div class="mb-4 mx-2 w-[20%]">
                    <mat-label class='px-4'>Project ID</mat-label>
                    <input type="text" id="projectid" value="PX-383" readonly placeholder="" class="border-b w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none">
                </div>
            </div>
            <div class="w-full mb-4 mx-2">
                <mat-label class='px-4'>Project Description</mat-label>
                <textarea id="projectdescription" placeholder="Project description" rows="4" class="border-b w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none"></textarea>
            </div>
            <div class="flex gap-4 mb-4">
                <div class="mb-4 mx-2 flex flex-col">
                    <mat-label class='px-4'>Application Type</mat-label>
                    <mat-form-field appearance="fill" class="custom-form-field">
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mb-4 mx-2 flex flex-col">
                    <mat-label class='px-4'>Environment</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <!-- <div class="mb-4 mx-2 flex flex-col">
                    <mat-label>Choose a date</mat-label>
                    <div class="col-12">
                        <div class="input-group">
                            <input
                                class="form-control"
                                placeholder="dd/mm/yyyy"
                                name="d2"
                                [(ngModel)]="model2"
                                ngbDatepicker
                                #d2="ngbDatepicker"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" type="button"></button>
                        </div>
                    </div>
                </div> -->
                <div class="mb-4 mx-2 flex flex-col">
                    <mat-label class='px-4'>Application Type</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mb-4 mx-2">
                    <mat-label class='px-4'>Start Date</mat-label>
                    <input type="date" id="startdate" placeholder="" class="border w-full py-4 px-4 leading-tight focus:outline-none rounded border-slate-950">
                </div>
                <div class="mb-4 mx-2">
                    <mat-label class='px-4'>End Date</mat-label>
                    <input type="date" id="enddate" placeholder="" class="border w-full py-4 px-4 leading-tight focus:outline-none rounded border-slate-950">
                </div>
            </div>
            <div class="mx-2">
                <mat-label class='px-4'>Stakeholders</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter Email" class="border-b p-4">
                    @for (email of emails(); track email) {
                    <mat-chip-row
                        (removed)="remove(email)"
                        [editable]="true"
                        (edited)="edit(email, $event)"
                        [aria-description]="'press enter to edit ' + email.name"
                    >
                        {{email.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + email.name">
                        <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                    <input
                    class="p-4 outline-none"
                    placeholder="Enter Email"
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                    />
                </mat-chip-grid>
            </div>
        </form>
            
    </div>
</div>
