<div class="h-[12%] max-h-[12%] h-full flex items-center justify-center">
    <div class="grid grid-cols-2 gap-4 w-full">
        <div class="pl-16 w-full">
            <div class="w-[50%] bg-white flex items-center justify-center border-none rounded-md focus:ring-none focus:outline-none" tabindex="0">
                <input
                    id="search-box"
                    type="text"
                    placeholder="Search"
                    class="px-1 py-2 border-none bg-white text-gray-800 focus:outline-none focus:ring-none"
                />
                <div class="flex items-center h-full px-2">
                    <!-- Material UI Search Icon -->
                    <mat-icon class="text-gray-600">search</mat-icon>
                </div>
            </div>
        </div>
        <div class="w-full flex items-center justify-end px-10">
            <!-- <mat-icon class="text-3xl mr-4" style="height: 2.5rem!important; width: 2.5rem!important;">notifications</mat-icon> -->
            <h1 class="text-xl mr-3">Hello, Paul</h1>
            <div class="bg-black rounded-3xl h-12 w-12" (click)="toggleDropdown()"></div>
            <!-- Dropdown Menu -->
            <div
                *ngIf="dropdownOpen"
                class="absolute top-[70px] right-6 bg-white shadow-lg rounded-md w-64 mt-2"
                >
                <div class="flex items-center justify-center px-2 py-4">
                    <div class="w-[35%] px-2">
                        <div class="bg-black rounded-full h-16 w-16"></div>
                    </div>
                    <div class="w-[65%]">
                        <h1 class="text-base font-medium">Paul Tidings Steiner</h1>
                        <h3 class="text-sm font-light">adjeisteiner&#64;gmail.com</h3>
                    </div>
                </div>
                <ul class="list-none p-2 m-0">
                    <li class="flex items-center py-2 px-4 cursor-pointer hover:bg-slate-100 rounded-md">
                        <mat-icon class="text-gray-600 w-5 h-5 mr-2">person</mat-icon>
                        <span class="text-sm text-gray-800">View Profile</span>
                    </li>
                    <li class="flex items-center py-2 px-4 cursor-pointer hover:bg-slate-100 rounded-md">
                        <mat-icon class="text-gray-600 w-5 h-5 mr-2">notifications</mat-icon>
                        <span class="text-sm text-gray-800">Notifications</span>
                    </li>
                    <li class="flex items-center py-2 px-4 cursor-pointer hover:bg-slate-100 rounded-md">
                        <mat-icon class="text-gray-600 w-5 h-5 mr-2">logout</mat-icon>
                        <span class="text-sm text-gray-800">Logout</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>