<div class="main-side-nav flex-none overflow-x-hidden whitespace-nowrap transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)]">
    <div class="fixed top-0 left-0 h-screen w-100 border-none bg-white shadow-none p-0 rounded-none box-border overflow-y-auto overflow-x-hidden whitespace-nowrap w-[7%] hover:w-[200px] transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)] flex flex-col z-[1200] group">
        <div class="sticky top-0 z-[1200] flex items-center justify-center bg-white h-[12%] px-0 text-[#030229] font-nunito text-base font-normal whitespace-nowrap max-h-[12%]">
            <a href="/base" tabindex="0" class="flex items-center space-x-4 no-underline">
              <img src="/images/teststein-high-resolution-logo-transparent.png" alt="logo" class="h-8 w-auto"/>
              <!-- <h4 class="text-base font-normal">Base</h4> -->
            </a>
        </div>
        <nav class="max-h-[88%] py-4 px-2 box-border overflow-y-auto overflow-x-hidden whitespace-nowrap w-full transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)] flex flex-col">
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>dashboard</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Dashboard</h1>
                </a>
            </li>
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>account_tree</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Projects</h1>
                </a>
            </li>
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>edit_note</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Test Cases</h1>
                </a>
            </li>
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>auto_mode</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Test Runs</h1>
                </a>
            </li>
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>description</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Reports</h1>
                </a>
            </li>
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>timeline</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Analytics</h1>
                </a>
            </li>
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>settings</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Settings</h1>
                </a>
            </li>
            <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                <a class="no-underline flex items-center justify-center group-hover:justify-start">
                    <mat-icon>help</mat-icon>
                    <h1 class="ml-2 hidden group-hover:inline-block">Help</h1>
                </a>
            </li>
        </nav>
    </div>
</div>