<div class="w-full h-screen flex flex-col lg:flex-row">
    <div class="w-full hidden lg:flex items-center justify-center bg-white">
        <img src="/images/teststein-high-resolution-logo-transparent-moto.png" alt="logo" class="h-[20rem] w-auto"/>
    </div>
    <div class="w-full h-full flex items-center justify-center bg-slate-100">
        <div class="lg:w-[60%] lg:h-[70%] h-full w-full bg-black lg:rounded-md flex items-center justify-center">
            <div class="flex items-center justify-center flex-col">
                <div class="w-full lg:hidden flex items-center justify-center h-48 mb-6">
                    <img src="/images/output-onlinepngtools.png" alt="logo" class="h-48 w-auto"/>
                </div>
                <div class="p-8">
                    <h2 class="text-white text-2xl font-semibold">Sign In</h2>
                </div>
                <form #myForm="ngForm" class="flex flex-col items-center" (ngSubmit)="onSubmit(myForm.value)">
                    <div class="w-64 lg:w-56 bg-white flex items-center m-2 justify-center border-none rounded-md focus:ring-none focus:outline-none" tabindex="0">
                        <input
                            placeholder="Email Id"
                            type="text"
                            name="email"
                            class="px-1 py-2 border-none bg-white text-gray-800 focus:outline-none focus:ring-none"
                            [(ngModel)]="user.email"
                        />
                        <div class="flex items-center h-full px-1">
                            <mat-icon class="text-gray-600">email</mat-icon>
                        </div>
                    </div>
                    <div class="w-64 lg:w-56 m-2 bg-white flex items-center justify-center border-none rounded-md focus:ring-none focus:outline-none" tabindex="0">
                        <input
                            placeholder="Password"
                            type="password"
                            name="password"
                            class="px-1 py-2 border-none bg-white text-gray-800 focus:outline-none focus:ring-none"
                            [(ngModel)]="user.password"
                        />
                        <div class="flex items-center h-full px-1">
                            <mat-icon class="text-gray-600">lock</mat-icon>
                        </div>
                    </div>
                  <div class="flex items-center justify-center bg-black text-white cursor-pointer border-none outline-none w-56 font-semibold m-2 p-2 text-xl tracking-tight">
                    <button type="submit" [disabled]="!myForm.valid" class="bg-slate-400 rounded-md text-black cursor-pointer border-none outline-none w-full p-2 font-semibold text-xl tracking-tight">
                      SIGN IN
                    </button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>