<div class="bg-slate-100 w-full h-screen">
    <div class="main-side-nav flex-none overflow-x-hidden whitespace-nowrap transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)]">
        <div class="fixed top-0 left-0 h-screen w-100 border-r border-gray-300 bg-white shadow-none p-0 rounded-none box-border overflow-y-auto overflow-x-hidden whitespace-nowrap w-[7%] hover:w-[200px] transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)] flex flex-col z-[1200] group">
            <div class="sticky top-0 z-[1200] flex items-center justify-center bg-white h-[12%] px-0 text-[#030229] font-nunito text-base font-normal whitespace-nowrap max-h-[12%]">
                <a href="/base" tabindex="0" class="flex items-center space-x-4 no-underline">
                  <img src="/images/teststein-high-resolution-logo-transparent.png" alt="logo" class="h-8 w-auto"/>
                  <!-- <h4 class="text-base font-normal">Base</h4> -->
                </a>
            </div>
            <nav class="max-h-[88%] py-4 px-2 box-border overflow-y-auto overflow-x-hidden whitespace-nowrap w-full transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)] flex flex-col">
                <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                    <a class="no-underline flex items-center justify-center group-hover:justify-start">
                        <mat-icon>dashboard</mat-icon>
                        <h1 class="ml-2 hidden group-hover:inline-block">Dashboard</h1>
                    </a>
                </li>
                <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                    <a class="no-underline flex items-center justify-center group-hover:justify-start">
                        <mat-icon>edit_note</mat-icon>
                        <h1 class="ml-2 hidden group-hover:inline-block">Test Cases</h1>
                    </a>
                </li>
                <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                    <a class="no-underline flex items-center justify-center group-hover:justify-start">
                        <mat-icon>auto_mode</mat-icon>
                        <h1 class="ml-2 hidden group-hover:inline-block">Test Runs</h1>
                    </a>
                </li>
                <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                    <a class="no-underline flex items-center justify-center group-hover:justify-start">
                        <mat-icon>description</mat-icon>
                        <h1 class="ml-2 hidden group-hover:inline-block">Reports</h1>
                    </a>
                </li>
                <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                    <a class="no-underline flex items-center justify-center group-hover:justify-start">
                        <mat-icon>timeline</mat-icon>
                        <h1 class="ml-2 hidden group-hover:inline-block">Analytics</h1>
                    </a>
                </li>
                <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                    <a class="no-underline flex items-center justify-center group-hover:justify-start">
                        <mat-icon>settings</mat-icon>
                        <h1 class="ml-2 hidden group-hover:inline-block">Settings</h1>
                    </a>
                </li>
                <li class="list-none group-hover:pl-8 flex h-12 p-2 items-center justify-center group-hover:justify-start hover:bg-slate-100 hover:cursor-pointer hover:shadow-lg mb-2 rounded-lg">
                    <a class="no-underline flex items-center justify-center group-hover:justify-start">
                        <mat-icon>help</mat-icon>
                        <h1 class="ml-2 hidden group-hover:inline-block">Help</h1>
                    </a>
                </li>
            </nav>
        </div>
    </div>
    <main class="flex-1 h-screen overflow-y-auto pl-[7%]">
        <div class="h-[12%] max-h-[12%] bg-white h-full flex items-center justify-center">
            <div class="grid grid-cols-2 gap-4 w-full">
                <div class="pl-16 w-full">
                    <div class="w-[50%] flex items-center pl-1 justify-center border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none" tabindex="0">
                        <input
                            id="search-box"
                            type="text"
                            placeholder="Search"
                            class="p-2 border-none bg-white text-gray-800 focus:outline-none focus:ring-none"
                        />
                        <div class="flex items-center h-full px-2">
                            <!-- Material UI Search Icon -->
                            <mat-icon class="text-gray-600">search</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="w-full flex items-center justify-end px-10">
                    <!-- <mat-icon class="text-3xl mr-4" style="height: 2.5rem!important; width: 2.5rem!important;">notifications</mat-icon> -->
                    <h1 class="text-xl mr-3">Hello, Paul</h1>
                    <div class="bg-black rounded-3xl h-12 w-12"></div>
                </div>
            </div>
            
            
        </div>
    </main>
</div>