<div class="bg-slate-100 w-full h-screen">
    <div class="main-side-nav flex-none overflow-x-hidden whitespace-nowrap w-[90px] transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)]">
        <div class="fixed top-0 left-0 h-screen w-100 border-r border-gray-300 bg-white shadow-none p-0 rounded-none box-border overflow-y-auto overflow-x-hidden whitespace-nowrap w-[90px] transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)] flex flex-col z-[1200]">
            <div class="sticky top-0 z-[1200] flex items-center justify-center bg-white py-8 px-0 text-[#030229] font-nunito text-base font-normal whitespace-nowrap max-h-[15%]">
                <a href="/base" tabindex="0" class="flex items-center space-x-4 no-underline">
                  <img src="/images/Logo.png" alt="logo" class="h-8 w-auto"/>
                  <h4 class="text-base font-normal">Base</h4>
                </a>
            </div>
            <nav class="max-h-[90] box-border overflow-y-auto overflow-x-hidden whitespace-nowrap w-[90px] transition-all duration-[195ms] ease-[cubic-bezier(0.4,0,0.6,1)] flex flex-col">
                
            </nav>
        </div>
    </div>
    <main>
        <div class="p-8 bg-white h-10 w-100 flex items-center justify-center">
            <div class="w-50">
                <div class="w-10 h-10 m-2 bg-blue">
                    <p>Banku</p>
                </div>
            </div>
        </div>
    </main>
</div>